.git
.gitignore
.dockerignore
.github
.kiro
app/
docs/
logs/
media/
static/
static_new/
templates/*
!templates/dist/
02-github-actions-ci.txt
10-security-best-practices.txt
CHANGELOG.md
ci-test.md
docker-compose.ci.yml
docker-compose.yml
Dockerfile
DockerfileBak
Dockerfile.ci
LICENSE
README_CN.md
README.en.md
README.md
README.zh-CN.md
run.md
db.sqlite3
nginx.conf